/* Additional Styles
   -----------------
*/

/* Global styles */
body{
  font-family: 'Montserrat', sans-serif;
}
h2,h3 {
  text-align: center;
}
h2{
margin: 20px;
}
h3{
margin: 25px;
}
/* Header and nav styles */
nav.navbar{
  margin: 0;
}

/*
  Section specific styles
  -----------------------
*/

/* Section 1: Hero Style */
section#hero{
  padding-top: 250px;
  height: 800px;
  background-image: url(../img/nightlife.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
section#hero h1{
  margin: 0;
  font-size: 6em;
  color: #e2e4e6;
}

section#hero a{
  margin-top: 100px;
  padding: 15px 80px;
  font-size: 2em;
  background-color: #0088b8;
  color: white;
  transition: background-color .4s ease;
}

section#hero a:hover{
  background-color: #084358;
}

/* Section 2: Find new places */
section#discover {
  padding-top: 40px;
}

/* Section 3: Events */
section#events {
  padding-top: 40px;
}

/* Section 4: Getting here */
section#getting-here {
  padding-top: 40px;
}
