/* Additional Styles
   -----------------
*/

/* Global styles */
body{
  font-family: 'Montserrat', sans-serif;
}
h2,h3 {
  text-align: center;
}
h2{
margin: 20px;
}
h3{
margin: 25px;
}

/* Header and nav styles */
nav.navbar{
  margin: 40px 0 0 0 ;
}

.navbar-default .navbar-brand{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 3em;
  color: white;
}
.navbar-default{
  background-color: transparent;
  border: none;
}

/*
  Section specific styles
  -----------------------
*/

/* Section 1: Hero Style */
section#hero{
  height: 700px;
  background-image: url(../img/nightlife.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
section#hero h1{
  margin: 200px 0 0 0 ;
  font-size: 6em;
  color: #e2e4e6;
}

section#hero a.discover{
  margin-top: 150px;
  padding: 15px 80px;
  font-size: 2em;
  background-color: #0088b8;
  color: white;
  transition: background-color .4s ease;
}

section#hero a:hover{
  background-color: #084358;
}

/* Section 2: Find new places */
section#discover {
  padding-top: 40px;
}



.feature{
width: 100%;
height: 370px;
position: relative;
}

.feature img{
  width: 100%;
  height: 100%;
}

.overlay{
  background-color: rgba(0,0,0,0.7);
  color: white;
  position: absolute;
bottom: 0;
  width: 100%;
  padding: 20px;
  margin: 0;
  font-size: 1.3em;
  height: 25%;
  overflow: hidden;
  display: none;
}




/* Section 3: Events */
section#events {
  padding-top: 40px;
  margin-top: 80px;
  background-image: url(../img/events.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #e2e4e6;
}
section#events ul li{
  margin-bottom: 40px;
}
section#events a{
  color: white;
}

/* Section 4: Getting here */
section#getting-here {
  padding-top: 40px;
}
